.container {
    max-width: min-content;
    min-width: 350px;
    padding: 2em 1rem;
    background: #020202;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 1px 30px rgb(102, 97, 97);

}