li{
    list-style: none;
    
}

.radio-bouton label {
    height: max-content;
    border: 1px solid #bbb8b8;
    margin: 20px 7px;
    padding: 5px;
    cursor: pointer;
    text-align: left;margin-left: -30px;
}

input[type=radio] {
    display: none;
}

[type="radio"]:checked+span::before {
    background: #028A3D;
}

[type="radio"]+span::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.5s ease all;
    vertical-align: -0.15em;
    box-shadow: 0 0 0 1px #bbb8b8;
    margin-right: 0.75em;
    margin-left: 0.75em;
}