.home-form {
    margin: 0 2em;
}

.text-fields {
    margin: 10px 0px 0px 0px;
    height: 35px;
    width: 93%;
    border: 1px solid #bbb8b8;
    border-radius: 10px;
    padding: 0 10px;
    background: linear-gradient(90deg, #3a3838 0%, rgba(21, 41, 46, 0.85) 99.84%);
    color: #fff;
    font-size: medium;
}

label {
    display: flex;
}

#errorMail,
#errorNom {
    color: red;
    font-size: 12px;
    display: flex;
    margin-bottom: 10px;
}

.bouton {
    height: 37px;
    width: 120px;
    border: none;
    margin-bottom: 20px;
    margin-top: 25px;
    background: linear-gradient(90deg, #05493e 0%, rgba(3, 59, 124, 0.85) 99.84%);
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}