.home-form {
    margin: 0 2em;
}

.text-fields {
    margin: 10px 0px 0px 0px;
    height: 35px;
    width: 93%;
    border: 1px solid #bbb8b8;
    padding: 0 10px;
}

label {
    display: flex;
}

#errorMail,
#errorNom {
    color: red;
    font-size: 12px;
    display: flex;
    margin-bottom: 10px;
}

.bouton {
    height: 37px;
    width: 180px;
    border: none;
    margin-bottom: 25px;
    margin-top: 15px;
    background: #028A3D;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}