@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Inter';
}

body {
  display: flex;
  background: linear-gradient(90deg, #000000 0%, rgba(21, 41, 46, 0.85) 99.84%);
  background-blend-mode: darken;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: aliceblue;
}