.progress {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em;
}

.progress-bar {
    margin: 1rem 0.6em;
    width: 95%;
    height: 8px;
    border-radius: 3px;
    background-color: #DDDDDD;
}

#miniteur {
    width: 100%;
}