.progress {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em;
}

.progress-bar {
    margin: 1rem 0.6em;
    width: 95%;
    height: 8px;
    border-radius: 3px;
    background: linear-gradient(90deg, #3a3838 0%, rgba(21, 41, 46, 0.85) 99.84%);
}

#miniteur {
    width: 100%;
}